{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-php" class="alert-link">Getting Started with PHP on Heroku</a> tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this app works</h3>
      <ul>
        <li>This app was deployed to Heroku using Git. The code is on <a href="https://github.com/DiegoFleitas/heroku-phtmltophp">this repo</a>.</li>
        <li>Upload a .phtml file to strip the html from.</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <!-- El tipo de codificación de datos, enctype, DEBE especificarse como sigue -->
      <form class="form-inline" enctype="multipart/form-data" action="stripHTML.php" method="POST">
        <div class="form-group">
          <!-- MAX_FILE_SIZE debe preceder al campo de entrada del fichero -->
          <!--<input type="hidden" name="MAX_FILE_SIZE" value="30000" />-->
          <!-- El nombre del elemento de entrada determina el nombre en el array $_FILES -->
          <input type="file" name="fichero_usuario" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <button type="submit" class="btn btn-primary">Enviar fichero</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
